<ion-view title="Kebo">
  <ion-content has-title="true">
    <div id="outercontainer2">
        <div id="outercontainer1">
            <div id="container">
                <div class="buddy" style="display:block;">
                    <div class = "house">
            <button id="yumbutton" class="btn btn-positive pull-right"
onclick="onSwipeRight()"><span class="icon icon-check"></span></button>
            <button id="infobutton" class="btn btn-info"
onclick="onTap()">i</button>
            <button id="trashbutton"class="btn btn-negative pull-left"
onclick="onSwipeLeft()"><span class="icon icon-close"></span></button>

</div>
                  <!--  <img on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" on-tap="onTap()" src="{{dish.imagePath}}" width=auto height=auto></img>
                    <p class=name-of-food>{{dish.dish}}</p>-->
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
