<ion-view title="Kebo">
  <ion-content has-title="true">
    <div id="outercontainer2">
        <div id="outercontainer1">
            <div id="container">
                <div class="buddy" style="display:block;">
                    <img on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" src="{{dish.imagePath}}" width=auto height=auto></img>
                    <p class=name-of-food>{{dish.dish}}</p>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
